<% content_for :title,@forumname.category %>
<h3 class="section-title" style="text-align: center">你現在位置是 : <%=@forumname.category%></h3>
<div class="section-title-separator"></div>
<table class="small-12 medium-12 large-12 small-centered medium-centered large-centered columns">
  <tr>
    <td width="60%">標題</td>  <td>發布</td> <td>回複</td>   <td>最後日期</td>

  </tr>
  <% @showtitle.each do|n| %>

      <tr>
        <td><%=link_to n.title_name,"/f/showc/"+n.id.to_s,:class => ' ss-no-ajax',:target => '_blank'%></td>
        <td>
          <% findUserName=User.find_by_id(n.user_id)%>
          <%=link_to findUserName.name,"/f/showc/"+n.id.to_s%>

        </td>
        <td>
          <%  countCM=Cm.where(title_id: n.id)%>
          <%=countCM.count%>

        </td>
        <td>
          <%=countCM.last.created_at%>

        </td>
      </tr>

  <% end %>
</table>
<table>
  <tr>
    <td width="70%"></td>
    <td>  <%= paginate @showtitle %></td>
  </tr>
</table>

<table>
  <tr>
    <td colspan=2>發佈新貼</td>

  </tr>
  <%=form_tag(nil,:id=>"posttitle")%>
  <tr>  <td width="30%">標題</td><td  width="70%"><input name="title_name"></td></tr>
  <tr>  <td>內文</td><td style="text-align: left;">
    <textarea name="cm_main" id="editA" cols="50" rows="30" style="text-align: left;"></textarea>
    <!--<div id="edit"  name="cm_main" class="text-small"></div>-->
  </td></tr><tr>
  <!--<td></td><td> <input type="submit" class="ss-button small red" name="發怖"  style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">-->
  <td></td><td>
 <%if session[:siteid].present?%>

  <a href="" class="ss-button small red " id="submitlink">發帖</a>
      <%else%>

  匿名功能只需用於留言，發新帖請先註冊
  <%end%>
</td>
  <!--<span class="button-icon icon-star3" aria-hidden="true" ></span>-->

  </h1>
  </td>
</tr>

  <!--<tr>  <td>送出</td><td></td></tr>-->
</table>

<!--<p>ontrary to popular belief,Lorem Ipsum is not simply andom text. It has roots men  book. It has survived not only  Pellentesque habitant morbi tristiqe sene ctus et netus et malesuada fames ac  </p>-->
<!--<div class="gap" style="height:20px;"></div>-->



<script>

    $('#editA').editable({
        imageUpload: false,
        inlineMode: false,
        buttons: ['bold', 'italic', 'sep',
            // 'indent', 'outdent',
            'insertOrderedList', 'insertUnorderedList', 'sep',
            'createLink', 'insertImage', 'inlineStyle'],
        width: '700',
        height: '200'

    });
</script>
<script>
    var form = document.getElementById("posttitle");

    document.getElementById("submitlink").addEventListener("click", function () {
        form.submit();

    });
</script>